body, html{
	overflow-x:hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 17px;
  margin: 0;
}
body.modal-open{
  overflow: hidden;
}
.container {
  margin: 0 auto;
}
.listing-container, .login-container{
	margin:0 auto;
	padding:0 12px;
}
.login-container{

}
@media(min-width:744px){
	.listing-container{
		width:696px;
	}
}
@media(min-width:374px){
	.login-container{
		width:350px;
	}
}
.home-container{
	margin:0 auto;
	padding:0 25px;
}
input[type=text]{
	-webkit-appearance:none;
}
@media(min-width:1131px){
	.home-container{
		width:1080px;
	}
}